{% extends "base.html "%}
{% load static %}

{% block title %}
			Car Detail
			{% endblock %}

		{% block content %}
		<div class="card" style="width: 18rem;">

			{% if car.img %}
  			<img  src="{{car.img.url}}" class="card-img-top" alt="...">
    	{% endif %}
  <div class="card-body">
		<h1>
			Car Detail
			{{car.make}} - {{car.model}}
		</h1>
		<p>{{car.year}}</p>

		<hr>
		<div class="row text-center">
			<div class="col-md-6">
					<a href="{% url 'car-update' car.id %}" class="btn btn-outline-primary btn-block">Update</a>
			</div>
			<div class="col-md-6">
					<a href="{% url 'car-delete' car.id %}" class="btn btn-outline-danger btn-block">Delete</a>
			</div>
	</div>
  </div>
</div>


	{% endblock %}
